*.iml
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.idea/
*.apk
*.ap_
*.dex
*.class
bin/
gen/
.gradle/
build/
proguard/
*.log
.navigation/
lint/
google-services.json
#*.jks
#*.properties
Thumbs.db
cmake/
obj/
*.kotlin_module
.build/
._*
#gradle/wrapper/gradle-wrapper.jar






